{% extends 'contentbase.html' %}
{% load static %}

{% block content %}

    <div class="row">
        <div class="mx-auto mt-5 mb-4">
            <h1>Our Team</h1>                                        
        </div>
    </div>

    <div class="row mx-auto">
        {% for employee in employees %}                
            <div class="card mx-auto mb-4 p-2">
                {% with 'img/'|add:employee.first_name|add:'.jpg' as image_src %}
                    <div class="card-body mx-auto">
                        <img class="profile-pictures" src="{% static image_src %}">
                    </div>
                {% endwith %}   
                <h4 class="card-title mx-auto">
                    {{employee.first_name}} {{employee.last_name}}
                </h4>
                <p class="card-text mx-auto">
                    {{employee.job_title}}
                </p>
                <a href="{% url 'team_profiles' pk=employee.id %}" class="btn btn-primary btn-sm bg-dark">
                    See Profile
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}